@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guten Tag</h1>
    <p class="lead">Welcome to TriForce Gaming's very first ASP.NET Web Application.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            We are a ragtag group of ambitious individuals that are currently focused in completing a crossword puzzle generator.
            The group has a combined experience of over six years of object-relaitional coding. Although this is our first time using
            ASP.NET, we have experience in all of the components and languages that make an ASP.NET project from C# to working with
            relational databases. 
        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <img class="triforce" src="~/Images/Triforce.png"/>
    </div>
    <div class="col-md-4">
        <h2>Contact US</h2>
        <p>To reach our group, please do not hesitate to email at the following addresses:</p>
        <p>Justin Scalice - jes8@dowling.edu</p>
        <p>Chris Ziegler - csz1@dowling.edu</p>
        <p>Carlos Marra - cam27@dowling.edu</p>
    </div>
</div>